project: 
  fullPath: \""
  origin: "cx-cli"
sast: 
  configuration: "Multi-language Scan"
  excludeFolders: \"_cvs, .svn, .hg, .git, .bzr, bin, obj, backup, test, node_modules\"
  includeExcludePattern: \"!**/*.DS_Store, !**/*.ipr, !**/*.iws, !**/*.TEST_SOMETHING, !**/*.bak, !**/*.tmp, !**/*.aac, !**/*.aif, !**/*.iff, !**/*.m3u, !**/*.mid, !**/*.mp3, !**/*.mpa, !**/*.ra, !**/*.wav, !**/*.wma, !**/*.3g2, !**/*.3gp, !**/*.asf, !**/*.asx, !**/*.avi, !**/*.flv, !**/*.mov, !**/*.mp4, !**/*.mpg, !**/*.rm, !**/*.swf, !**/*.vob, !**/*.wmv, !**/*.bmp, !**/*.gif, !**/*.jpg, !**/*.png, !**/*.psd, !**/*.tif, !**/*.jar, !**/*.zip, !**/*.rar, !**/*.exe, !**/*.dll, !**/*.pdb, !**/*.7z, !**/*.gz, !**/*.tar.gz, !**/*.tar, !**/*.ahtm, !**/*.ahtml, !**/*.fhtml, !**/*.hdm, !**/*.hdml, !**/*.hsql, !**/*.ht, !**/*.hta, !**/*.htc, !**/*.htd, !**/*.htmls, !**/*.ihtml, !**/*.mht, !**/*.mhtm, !**/*.mhtml, !**/*.ssi, !**/*.stm, !**/*.stml, !**/*.ttml, !**/*.txn, !**/*.class, !**/*.iml, !**/Checkmarx/Reports/*.*\"
  critical: 0
  high: 0
  medium: 0
  low: 0
  incremental: false
  preset: "Checkmarx Default"
  privateScan: false
  overrideprojectsettings: true
  enableSASTBranching : false
  masterBranchProjName : 
  avoidDuplicateProjectScans : false
  
sca:
  fileInclude: \”*.dll\” 
  fileExclude: \“!**/*.class,!**/plexus-utils-1.5.6.jar \” 
  pathExclude: \“test*\”
  critical: 0
  high: 0
  medium: 0
  low: 0
